span.o_field_char.o_field_widget.o_quick_editable.o_readonly_modifier.o_required_modifier {
    font-size: 2rem;
    letter-spacing: -0.03em;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    line-height: 1.1;
    color: #364a63;
}
.o_form_view .o_td_label .o_form_label:not(.o_status), .o_form_view .o_checkbox_optional_field > .o_form_label {
//     min-height: 23px;
//     display: inline-flex;
//     letter-spacing: -0.01em;
//     width: 120px;
//     flex-shrink: 0;
//     display: block;
//     color: #8094ae;
    font-family: DM Sans, sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    color: #344357;
    margin-bottom: 0.5rem;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 0.5rem;
}
// .o_field_widget .o_input_dropdown > input, .o_field_widget.o_datepicker > input {
//     padding-right: 10px;
//     color: color: #8094ae;
// }
.o_field_widget.o_datepicker > input {
    margin-left: 10px !important;
}
.clearfix .position-relative .o_form_sheet {
    font-family: DM Sans, sans-serif;
}
.o_field_widget, .o_field_widget input.o_input {
    display: inline-block;
    text-align: inherit;

}
.wider .profile-ud-value {
    text-align: right;
    font-weight: 500;
    width: 100%;
    color: #526484
}
.o_form_view .o_field_widget {
    margin-bottom: 5px;
//     font-weight: 500;
//     color: #364a63;
//     here i change display because the setting form is not suitable with this
//     display: block;
    line-height: 1.4;
    font-size: 0.9em;
    font-weight: normal;
    color: #3c4d62 !important;
}

.o_field_widget .o_input_dropdown > input {
    cursor: pointer !important;
    //padding: 5% !important;
    color: #526484 !important;
    height: 35px !important;
    margin-left:10px !important;
}
select.o_field_widget.o_input{
    color: #526484 !important;
    height: 35px !important;

    cursor: pointer !important;
    line-height: 1.25rem;
    padding: 0.4375rem calc(2.125rem + 2px) 0.4375rem 1rem;
    display: block;
    padding-left: 8px;
    padding-right: 20px;
    rflow: ellipsis;
    white-space: nowrap;
    font-family: "DM Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    background-color: #fff;
    border: 1px solid #dbdfea;
    border-radius: 4px;
    box-shadow: none;
    transition: all 0.3s;
    margin-left: 10px !important;
}

.o_input {
    cursor: pointer !important;
    color: #526484;
    line-height: 1.25rem;
    padding: 0.4375rem calc(2.125rem + 2px) 0.4375rem 1rem;
    display: block;
    padding-left: 8px;
    padding-right: 20px;
    overflow: hidden;
    t-overflow: ellipsis;
    white-space: nowrap;
    height: calc(2.125rem + 2px);
    font-family: "DM Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    background-color: #fff;
    border: 1px solid #dbdfea;
    border-radius: 4px;
    //box-shadow: none;
    transition: all 0.3s;
    height:35px;
    margin-left :10px !important;
}
.o_input:hover{
   border-color: #854fff;
   outline: none;
   box-shadow: 0 0 0 3px #f3edff;
}
.o_input:focus{
   border-color: #854fff;
   outline: none;
   box-shadow: 0 0 0 3px #f3edff;
}
label.o_form_label.o_readonly_modifier.o_required_modifier{
    display: inline-flex;
    letter-spacing: -0.01em;
    //width: 120px;
    flex-shrink: 0;
    display: block;
    color: #8094ae;
}
.clearfix.position-relative.o_form_sheet {
    background-color: white;
    border-style: none;
    box-shadow: none;
//     left: -50px;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     box-shadow: 0 0 8px -3px rgba(60, 77, 98, 0.15);
//     box-shadow: 0px 1px 3px 0px rgb(54 74 99 / 5%);
//     background-color: transparent;
//     background-clip: border-box;
//     border: 0 solid rgba(0, 0, 0, 0.125);
//     border-radius: 4px;
}
.o_form_view .o_form_sheet_bg {
    background-color: white;
    border-bottom: 30px solid #f6f7fa;
    border-radius: 5px;
}
.o_list_view .o_optional_columns_dropdown_toggle, .o_list_view .o_optional_columns {
    margin-top: 20px;
    color: #854fff;
    /* transform: rotate(90deg); */
    font-size: 15px;
}
.o_list_optional_columns .fa.fa-ellipsis-v{
    transform: rotate(90deg);

}


.o_field_widget.o_field_many2one_avatar .o_m2o_avatar > img, .o_field_widget.o_field_many2one_avatar .o_m2o_avatar > .o_m2o_avatar_empty {
    display:none;
}
.o_form_view .o_notebook > .o_notebook_headers > .nav.nav-tabs > .nav-item > .nav-link {
    border-color: #C9CCD2;
    background-color: transparent;
    border: none;
    font-weight: 700;
    font-size: 2;
    color: #364a63;
}
.o_form_view .o_field_widget .o_list_table.table-striped > tfoot > tr {
    box-shadow: none;
}
.o_main_navbar .dropdown .dropdown-toggle, .o_main_navbar .o_menu_sections .dropdown .dropdown-toggle, .o_main_navbar .o_menu_systray .dropdown .dropdown-toggle {
    border-bottom: none;
}

.o_field_widget .o_input_dropdown > input {
    cursor: pointer !important;
    color: #526484;
    line-height: 1.25rem;
    padding: 0.4375rem calc(2.125rem + 2px) 0.4375rem 1rem;
    display: block;
    padding-left: 8px;
    padding-right: 20px;
    overflow: hidden;
    t-overflow: ellipsis;
    white-space: nowrap;
    height: calc(2.125rem + 2px);
    font-family: "DM Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    background-color: #fff;
    border: 1px solid #dbdfea;
    border-radius: 4px;
    box-shadow: none;
    transition: all 0.3s;
}
.o_field_widget .o_input_dropdown > input:hover{
    background-color: #fff;
   box-shadow: 0 0 0 3px #f3edff;
   border-color: #854fff;
}
a.o_dropdown_button {
    height: calc(2.125rem + 2px);
    position: absolute;
    top: 0;
    right: 0;
    //width: calc(2.125rem + 2px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    content: "\e92c" !important;
    color:gray !important;
}
.ui-widget.ui-autocomplete {
    top: 0;
    min-width: 0;
    z-index: 1051;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: none;
    border: 1px solid #dbdfea;
    font-family: "DM Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    display: block;
    position: absolute;
    left: -100000px;
    z-index: 1051;
    padding: 6px;
}

.ui-widget.ui-autocomplete .ui-menu-item > a.dropdown-item, .ui-widget.ui-autocomplete .ui-menu-item > a.dropdown-item-studio {
    padding: 3px 20px;
    left: 0;
    border-color: #b4bdd3;
}
.o_field_widget .o_input_dropdown > input:focus {
    border-color: #854fff;
    outline: none;
    box-shadow: 0 0 0 3px #f3edff;
}
.dropdown-item .ui-menu-item-wrapper{
  height: 35px !important;//calc(2.125rem + 2px);
  font-family: "DM Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  background-color: #fff;
  border: 1px solid #dbdfea;
  border-radius: 4px;
  box-shadow: none;
  transition: all 0.3s;
}
.ui-widget.ui-autocomplete .ui-menu-item > a.dropdown-item, .ui-widget.ui-autocomplete .ui-menu-item > a.dropdown-item-studio, .ui-widget.ui-autocomplete .ui-menu-item > a.dropdown-item-studio {
    max-height: 210px;
    overflow-y: auto;
    padding: 0.375rem 0.75rem;
    border-radius: 4px;
    user-select: none;
    -webkit-user-select: none;
    background-color : none;
}
.ui-widget.ui-autocomplete:hover .ui-menu-item > a.dropdown-item:hover, .ui-widget.ui-autocomplete:hover .ui-menu-item > a.dropdown-item-studio:hover, .ui-widget.ui-autocomplete:hover .ui-menu-item > a.dropdown-item-studio :hover{
  background-color: #e5e9f2;
  cursor: pointer;
}
.ui-widget.ui-autocomplete:focus .ui-menu-item > a.dropdown-item:focus, .ui-widget.ui-autocomplete:focus .ui-menu-item > a.dropdown-item-studio:focus, .ui-widget.ui-autocomplete:focus .ui-menu-item > a.dropdown-item-studio :focus{
  background-color: #e5e9f2;
  cursor: pointer;
}
.o_m2o_dropdown_option .ui-menu-item{
    color:#e5e9f2;
    background-color:none;
}
.o_m2o_start_typing .ui-menu-item{
    background-color:none;
}
.o_m2o_dropdown_option .ui-menu-item:hover{
    background-color:none;
    cursor: pointer;
}
.o_m2o_start_typing .ui-menu-item:hover{
    background-color:none;
    cursor: pointer;
}
.o_m2o_dropdown_option .ui-menu-item:focus{
    background-color:none;
    cursor: pointer;
}
.o_m2o_start_typing .ui-menu-item:focus{
    background-color:none;
    cursor: pointer;
}
.o_datepicker_button{
    height: calc(2.125rem + 2px);
    position: absolute;
    top: 0;
    right: 0;
    //width: calc(2.125rem + 2px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    content: "\e92c" !important;
    color:gray !important;
}
o_datepicker_button:hover{
   color:gray !important;
}
o_datepicker_button:focus{
   color:gray !important;
}

.o_field_many2manytags .badge {
    height: 25px;
    padding: inherit;
    margin-top: 0px !important;
}

.o_form_view .o_horizontal_separator {
    margin-bottom: 0.75rem;
    font-size: 1.25rem;
    letter-spacing: -0.01em;
    margin-top: 0;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    line-height: 1.1;
    color: #364a63;
}
.o_field_widget.o_field_many2manytags > .o_field_widget{
   height: 27px !important;
   margin-top: -7px !important;
}
.o_field_widget .o_field_many2one .o_input_dropdown .o_input, .o_field_widget .o_field_many2manytags .o_input_dropdown .o_input {
    height: 27px !important;
    margin-top: 4px !important;
}
// .o_field_widget .o_field_many2one .o_input_dropdown .o_input, .o_field_widget .o_field_many2manytags .o_input_dropdown .o_input >  a.o_dropdown_button{
//     display:none;
// }
// .o_field_widget.o_field_many2manytags > .o_field_widget > a.o_dropdown_button{
//   display:none;
// }
.o_form_view .o_field_widget {
    //font-size: 12px !important;
    color: #526484 !important;
    //font-style: italic !important;
    //display: block !important;
    font-family: "DM Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
}
.alert-info {
    color: #0c5460;
    background-color: #f5f6fa;
    border: none;
    padding: 0.75rem;
    line-height: 20px;
    max-height: 136px;
    padding: 1.25rem;
    box-shadow: none !important;
    margin-bottom: 0;
    border-radius: 4px;
    overflow: auto;
    font-family: "DM Sans", sans-serif;
}

.o_form_view .oe_title > h1.d-flex > .o_input, .o_form_view .oe_title > h2.d-flex > .o_input, .o_form_view .oe_title > h3.d-flex > .o_input {
    height: max-content;
    height: 45px;
    font-size: 1.5rem !important;
    font-weight: 400 !important;
    line-height: 1.25rem !important;
    color: #3c4d62 !important;
    font-family: "DM Sans", sans-serif;
}

select{
    background-image: none;
}
select:hover{
   border-color: #854fff;
   outline: none;
   box-shadow: 0 0 0 3px #f3edff;
}
select:focus{
   border-color: #854fff;
   outline: none;
   box-shadow: 0 0 0 3px #f3edff;
}
// label.o_form_label {
//     margin: 7px !important;
// }
// input{
//  margin: 7px !important;
// }
.btn-primary, .btn-secondary:not(.dropdown-toggle):not(.dropdown-item):not(.dropdown-item-studio), .btn-secondary.o_arrow_button:not(.dropdown-item):not(.dropdown-item-studio) {
    text-transform: uppercase;
    margin-left: 10px;
    //color: gray;
}
// .btn-primary, .btn-secondary:not(.dropdown-toggle):not(.dropdown-item):not(.dropdown-item-studio):hover, .btn-secondary.o_arrow_button:not(.dropdown-item):not(.dropdown-item-studio):hover {
//     background-color:none !important;
// //     color: #854fff;
// //     outline: none;
// //     box-shadow: 0 0 0 3px #f3edff;
// }
// .btn-primary, .btn-secondary:not(.dropdown-toggle):not(.dropdown-item):not(.dropdown-item-studio):focus, .btn-secondary.o_arrow_button:not(.dropdown-item):not(.dropdown-item-studio):focus {
//     background-color:none !important;
//     color: #854fff;
//     outline: none;
//     box-shadow: 0 0 0 3px #f3edff;
// }
.o_form_view .o_horizontal_separator:not(:empty) {
    box-shadow: none !important;
}
.o_form_view .o_group.o_inner_group {
    margin-bottom: 20px !important;
}
div#o_employee_right {
    border: none !important;
}
.o_field_widget.o_field_image .o_form_image_controls {
    position: absolute;
    top: 0;
    left: auto;
    bottom: auto;
    right: 0;
    width: 100%;
    color: white;
    background-color: #854fff;
    opacity: 0;
    transition: opacity ease 400ms;
    min-width: 35px;
}
.o_content .o_form_statusbar {
    border: none;
    margin-bottom: 20px !important;
}
.o_MessageList_separatorLabel {
    margin-right: 1055px !important;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    line-height: 1.1;
    color: #364a63;
}
.d-flex.flex-shrink-0 {
    padding: 10px;
    border: 1px solid #dbdfea;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    border-radius: 4px;
    font-family: "DM Sans", sans-serif;
    /* flex-direction: column;*/
}
//class="btn btn-link o_ChatterTopbar_button o_ChatterTopbar_buttonLogNote o-bordered"
.o_ChatterTopbar_actions>button {
    font-size: 11px;
    line-height: 1.2;
    letter-spacing: 0.2em;
    color: #8094ae;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "DM Sans", sans-serif;
}
.o_ChatterTopbar_actions>button:hover{
    font-weight: 700;
}
.o_ChatterTopbar_actions>button:focus{
    font-weight: 700;
}
.o_ChatterTopbar_rightSection>button{
    font-size: 10px !important;
    line-height: 1.2 !important;
    letter-spacing: 0.2em !important;
    color: #8094ae !important;
    text-transform: uppercase !important;
    font-weight: 500 !important;
    font-family: "DM Sans", sans-serif !important;
}
.o_ChatterTopbar_rightSection>button:hover{
    font-weight: 700 !important;
    background-color:transparent !important;
}
.o_ChatterTopbar_rightSection>button:focus{
    font-weight: 700 !important;
    background-color:transparent !important;
}
.o_Message{
    background-color:transparent !important;
}
.o_Message:hover{
    background-color:transparent !important;
}
.o_Message:focus{
    background-color:transparent !important;
}
.breadcrumb{
    font-size: 18px !important;
    font-weight : 700 !important;
}
.o_cp_top_left {
    font-size: 18px !important;
    font-weight : 700 !important;
}
// .o_form_view .oe_button_box {
//     box-shadow: none !important;
// }
.o_row .o_field_boolean {
    margin-left: 10px !important;
}
.o_form_view .oe_button_box {
    text-align: left !important;
}

// .o_form_view .oe_button_box .btn.oe_stat_button > .o_stat_info, .o_form_view .oe_button_box .btn.oe_stat_button > span {
//     vertical-align: middle;
//     line-height: 1.3;
//     font-weight: 700 !important;
//     color: #526484 !important;
//     display: inline-flex !important;
//     align-items: center;
//
// }
.o_form_view .oe_button_box .btn.oe_stat_button > .o_stat_info, .o_form_view .oe_button_box .btn.oe_stat_button > span {
    width: fit-content !important;
    padding: 1rem 0;
    font-weight: 700;
    color: #526484;
    position: relative;
    border: none;
    outline: none;
    display: inline-flex;
    align-items: center;
    font-family: "DM Sans", sans-serif;
}
.o_form_view .oe_button_box .btn.oe_stat_button > .o_stat_info:hover, .o_form_view .oe_button_box .btn.oe_stat_button:hover {
    color: #854fff !important;
}
.o_form_view .oe_button_box .btn.oe_stat_button > .o_stat_info:focus, .o_form_view .oe_button_box .btn.oe_stat_button:focus {
    color: #854fff !important;
    border: 1px solid #854fff !important;
    background-color:transparent !important;
}
.o_form_view .oe_button_box .btn.oe_stat_button > .o_stat_info:active, .o_form_view .oe_button_box .btn.oe_stat_button:active {
    color: #854fff !important;
    border: 1px solid #854fff !important;
    background-color:transparent !important;
}
.o_home_menu .o_home_menu_scrollable .o_apps .o_app .o_caption {
    margin: 4px 0;
    display: block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    color: gray;
    font-weight: 100;
    font-family: "DM Sans", sans-serif;
}